*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
# Huawei credentials (contains secrets)
app/agconnect-services.json
app/src/main/java/com/headdown/healthbridge/huawei/HuaweiConfig.kt
